{% extends 'base_admin.html.twig' %}
{% block title %}Détails Conseiller{% endblock %}
{% block body %}
<form method="post" action="{{ path('app_Conseiller_delete', {'id': user.id}) }}" onsubmit="return confirm('êtes vous sûr de vouloir supprimer ce conseiller?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn">Supprimer</button>
</form>
{% endblock %}
