{% extends 'base_admin.html.twig' %}

{% block title %}Modifier conseiller{% endblock %}

{% block body %}
    <h1>Modifier le profil du conseiller</h1>

    {{ include('user/conseiller/_formConseiller.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_conseillerListe') }}">Retour à la liste</a>

    
{% endblock %}