{% extends 'base_admin.html.twig' %}

{% block title %}Nouveau conseiller{% endblock %}

{% block body %}
    <h1>Créer un conseiller</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_conseillerListe') }}">Retour à la liste</a>
{% endblock %}