{% extends 'base.html.twig' %}

{% block title %}Edit BankService{% endblock %}

{% block body %}
    <h1>Edit BankService</h1>

    {{ include('bank_service/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bank_service_index') }}">back to list</a>

    {{ include('bank_service/_delete_form.html.twig') }}
{% endblock %}
